// Variables
$primary: #5a72bf;
$secondary: #c82d4e;
$light: #535355;
$dark: #19191c;
$font-family-sans-serif: 'Montserrat', system-ui, -apple-system, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$border-radius: #{(24/16)}rem;
