html {
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.img {
	max-width: 100%;
	&--logo {
		padding: 0 2rem;
		@include rfs(356px, min-width);
		// @include rfs(48px, margin-bottom);
	}
}

.banner {
	&--splash {
		display: flex;
		align-items: center;
		background-color: #202024;
		background-image: url('../img/banner.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 60%;
		@include rfs(667px, min-height);
		height: 100vh;
		flex: 1 1 auto;
		@include media-breakpoint-up(xl) {
			background-position: right;
		}
	}
}

.link {
	&--privacy-policy {
		color: #fff;
		text-decoration: none;
		@include font-size(13px);
		font-family: Asap;
		&:hover,
		&:focus {
			opacity: 0.75;
		}
	}
}

.form {
	&--sign-up {
		width: fit-content;
	}
}

.input {
	@include font-size(18px);
	color: #4b4d55;
	font-family: Asap;
	@include padding(16px);
	background-color: #e1e0e2;
	border: none;
	&--zip,
	&--email {
		@include rfs(300px, min-width);
		@include rfs(0, letter-spacing);
	}
	&::placeholder {
		color: #4b4d55;
	}
}

.btn {
	font-weight: 700;
	// font-family: 'Montserrat Semibold';
	&--learn-more {
		// font-size: 13px;
		@include font-size(13px);
		display: inline-flex;
		align-items: center;
		text-transform: uppercase;
		@include rfs(2.56px, letter-spacing);
		color: #fff;
		@include padding(16px);
		@include rfs(2rem, padding-left);
		&::after {
			// 	display: block;
			border: none;
			content: url(../img/chev.png);
			@include padding-left(16px);
		}
	}
	&--paid-for {
		@extend .rounded-0;
		@include font-size(11px);
		// @include rfs(334px, min-width);
		@include padding(1rem 20px);
		text-transform: uppercase;
		@include rfs(1.28px, letter-spacing);
		@media (hover) {
			opacity: 0.25;
			&:hover,
			&:focus {
				opacity: 1;
			}
		}
	}
	&--sign-up {
		width: 100%;
		@include padding(12px);
		@include font-size(18px);
		font-family: Asap;
		text-transform: uppercase;
		@include rfs(2.56px, letter-spacing);
	}
}

.social {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	@include rfs(55px, width);
	@include rfs(55px, height);
	margin: 0 0.5rem;
	@include media-breakpoint-up(lg) {
		margin: 0;
	}
	&:hover,
	&:focus {
		opacity: 0.75;
	}
	&__img {
		object-fit: contain;
	}
}

// .modal {
// }

.modal-content--learn-more {
	background-color: $dark;
	color: #fff;
}
// .dropdown {
// 	&:focus-within {
// 		.dropdown-menu {
// 			display: block;
// 		}
// 	}
// }

// .dropdown-menu {
// 	// border-radius: none;

// 	overflow: hidden;
// 	width: 100%;
// 	&.show {
// 		display: block;
// 	}
// }

// .dropdown-item {
// 	border-radius: 0;
// }
